.div-datos-cliente{
    display: flex;
    flex-direction: column;
    // position: fixed;
    // position: sticky;
}

    .btn-compra{
        background: #e66149;
        padding: 5px;
        color: #fff;
        text-decoration: none;
        border-radius: 16px;
        border-color: #e66149;
        font-weight: bold;
        width: 30vh;
        font-size: 3vh;
        height: 10vh;
        margin-top: 20px;
        margin-left: 243px;
    }

    input{
        margin: 10px
    }